<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- use this to just see application output -->
    <!--<logger name="com.creditsuisse" additivity="false">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</logger>-->

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>